*{
    margin: 0;
	border: 0;
}
.app{
    margin: 0;
    width: 100%;
}

a{
	text-decoration: none;
}

.flights{
	margin-left: 1%;
	height: 300px;
	width: 60%;
	margin-bottom: 30px;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	position: relative;
}

.details{
	position: absolute;
	left: 33%;
	bottom: 10%;
}

.expansiveBtn{
	border: 2px solid black;
	width: 15px;
	height: 296px;
	background-color: #D61355;
	position: absolute;
	right: -2%;
	top: 0%;
	font-weight: 900;
	text-align:inherit;
}

.arrow{
	position: absolute;
	top: 120px;
}

.details h3{
	font-weight: 900;
	color: #1F8A70;
}
.airPlane{
	background-color: cadetblue;
	width: 200px;
	height: 300px;
	position: relative;
	left: 102%;
	bottom: 20px;
}
.details h1{
	font-weight: 900;
	color: #03001C;
}

@import url('https://fonts.googleapis.com/css?family=Roboto');

body{
	font-family: 'Roboto', sans-serif;
}
* {
	margin: 0;
	padding: 0;
}
.navbar-logo{
	padding: 25px;
	color: black;
    position: absolute;
    left: -200;
    top: 0px;
}
.navbar-mainbg{
	background-color: #5161ce;
    padding: 40px;
    margin-bottom: 20px;
}
.nav-item{
    font-size: 25px;
	color: #fff;
    position: absolute;
}
.nav-item:hover{
    background-color: #5161ce;
    font-weight: 900;
}
li{
    list-style-type: none;
    text-decoration: none;
}
.nav-link{
    
    right: 55%;
    top: 25px;
}
.nav-link2{
    
    right: 15%;
    top: 25px;
}

.nav-link3{
    right: 33%;
    top: 25px;
}


@media(min-width: 992px){
	.navbar-expand-custom {
	    -ms-flex-flow: row nowrap;
	    flex-flow: row nowrap;
	    -ms-flex-pack: start;
	    justify-content: flex-start;
	}
	.navbar-expand-custom .navbar-nav {
	    -ms-flex-direction: row;
	    flex-direction: row;
	}
	.navbar-expand-custom .navbar-toggler {
	    display: none;
	}
	.navbar-expand-custom .navbar-collapse {
	    display: -ms-flexbox!important;
	    display: flex!important;
	    -ms-flex-preferred-size: auto;
	    flex-basis: auto;
	}
}


@media (max-width: 991px){
	
	.hori-selector{
		margin-top: 0px;
		margin-left: 10px;
		border-radius: 0;
		border-top-left-radius: 25px;
		border-bottom-left-radius: 25px;
	}
	.hori-selector .left,
	.hori-selector .right{
		right: 10px;
	}
	.hori-selector .left{
		top: -25px;
		left: auto;
	}
	.hori-selector .right{
		bottom: -25px;
	}
	.hori-selector .left:before{
		left: -25px;
		top: -25px;
	}
	.hori-selector .right:before{
		bottom: -25px;
		left: -25px;
	}
}

.myButton {
	background-color:#4845c7;
	border-radius:15px;
	border:1px solid;
	display:inline-block;
	cursor:pointer;
	color:black;
	font-family:Arial;
	font-size:16px;
	font-weight:bold;
	padding:15px 15px;
	text-decoration:none;
	text-shadow:0px 1px 0px #283866;
}
.myButton:hover {
	background-color:#2a38bd;
}
.myButton:active {
	position:relative;
	top:1px;
}